<div id="selectCookies" class="modal">
  <span>
    <p style="line-height: 1.5;">
      For å gjøre <b>SNUBLEJUICE.no</b> enda bedre ønsker vi å samle inn informasjonskapsler.
      <br>
      Ved å godta, samtykker du til bruk av informasjonskapsler.
    </p>
    <div class="cookieSelection">
      <button id="decline" onclick="declineCookies()">ELLERS TAKK</button>
      <img src="images/800x800.png" alt="SNUBLEJUICE.no">
      <button id="accept" onclick="acceptCookies()">DEN ER GREI</button>
    </div>
  </span>
</div>

<footer>
  <span>
    © <a href="https://dilettant.no" target="_blank">Hallvard H. Lavik</a>
  </span>
  <span>
    <a href="https://github.com/hallvardnmbu/snublejuice" target="_blank">Kildekode</a>
    <button id="updateCookies">Samtykke?</button>
  </span>
</footer>

<script src="scripts/buttons.js"></script>
<script src="scripts/cookie.js"></script>
