.DS_Store
.idea/
Icon?

*.env

**/__pycache__/
**/*.pattern

**/node_modules/
**/package-lock.json

bun.lock
bun.lockb
jsconfig.json

backups/backup/
backups/.venv
backups/uv.lock
backups/.ruff_cache
backups/.python-version
