{% from "partials/macros.html" import adv_field %}

<menu id="menu">
    <div>
        {% if not user %}
            <button onclick="toggleView('loginForm')">Logg inn</button>
            <button onclick="toggleView('registerForm')">Registrer</button>
        {% else %}
            <button onclick="toggleView('profile')" title="{{ user.username }}">{{ user.username | truncate(12) }}</button>
            {% if not landing %}
                {% if not favourites %}
                    <button onclick="applyFilters(true, true)">Favoritter</button>
                {% else %}
                    <button onclick="applyFilters(true, true)">Alle produkter</button>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if landing_url %}
            <h1 role="link" onclick="window.location.href='{{ landing_url }}'">Snublejuice</h1>
        {% else %}
            <h1>Snublejuice</h1>
        {% endif %}
    </div>
    <div>
        {% if landing_url %}
            <button onclick="window.location.href='{{ landing_url }}'">Forside</button>
        {% endif %}
        <button id="toggleTheme">Mørkt</button>
    </div>
</menu>

<menu id="profile" class="hidden">
    <button onclick="toggleView('notifyUserForm')">Varslinger</button>
    <button onclick="toggleView('deleteUserForm')">Slett meg</button>
    <button onclick="logout()">Logg ut</button>
</menu>

<form id="loginForm" class="hidden">
    <div class="card inset">
        {% call adv_field("Brukernavn") %}
            <input type="text" id="usernameLogin" name="username" minlength="2" required>
        {% endcall %}
        {% call adv_field("Passord") %}
            <input type="password" id="passwordLogin" name="password" minlength="4" required>
        {% endcall %}
        <button type="submit">Logg inn</button>
    </div>
</form>

<form id="registerForm" class="hidden">
    <div class="card inset">
        {% call adv_field("Brukernavn") %}
            <input type="text" id="usernameRegister" name="username" minlength="2" required>
        {% endcall %}
        {% call adv_field("E-post") %}
            <input type="email" id="emailRegister" name="email" required>
        {% endcall %}
        {% call adv_field("Passord") %}
            <input type="password" id="passwordRegister" name="password" minlength="4" required>
        {% endcall %}
        {% call adv_field("Månedsvarsel") %}
            <input type="checkbox" id="notifyRegister" name="notify" value="true">
        {% endcall %}
        <button type="submit">Registrer</button>
    </div>
</form>

<form id="notifyUserForm" class="hidden">
    <input type="hidden" id="usernameNotify" name="username" value="{{ user.username if user else '' }}">
    <div class="card inset">
        {% call adv_field("E-post") %}
            <span>{{ user.email if user else '' }}</span>
        {% endcall %}
        {% call adv_field("Månedsvarsel") %}
            <input type="checkbox" id="activeNotify" name="notify" {{ 'checked' if user and user.notify else '' }}>
        {% endcall %}
        <button type="submit">Lagre</button>
    </div>
</form>

<form id="deleteUserForm" class="hidden">
    <input type="hidden" id="usernameDelete" name="username" value="{{ user.username if user else '' }}">
    <div class="card inset">
        {% call adv_field("Brukernavn") %}
            <span>{{ user.username if user else '' }}</span>
        {% endcall %}
        {% call adv_field("E-post") %}
            <span>{{ user.email if user else '' }}</span>
        {% endcall %}
        {% call adv_field("Passord") %}
            <input type="password" id="passwordDelete" name="password" minlength="4" required>
        {% endcall %}
        <button type="submit">Slett bruker</button>
    </div>
</form>

<div class="message hidden">
    <span></span>
</div>

<script type="module" src="/public/scripts/profile.js"></script>
<script src="/public/scripts/theme.js"></script>
