<menu id="menu">
    {% if not user %}
        <button class="btn" onclick="toggleView('loginForm')">Logg inn</button>
        <button class="btn" onclick="toggleView('registerForm')">Registrer</button>
    {% else %}
        <button class="btn" onclick="toggleView('profile')">{{ user.username }}</button>
        {% if not landing %}
            {% if not favourites %}
                <button class="btn" onclick="applyFilters(true, true)">Favoritter</button>
            {% else %}
                <button class="btn" onclick="applyFilters(true, true)">Alle produkter</button>
            {% endif %}
        {% endif %}
    {% endif %}
</menu>

<menu id="profile" style="display: none;">
    <button class="btn" onclick="toggleView('notifyUserForm')">Varslinger</button>
    <button class="btn" onclick="toggleView('deleteUserForm')">Slett meg</button>
    <button class="btn" onclick="logout()">Logg ut</button>
</menu>

<form id="loginForm" style="display: none;">
    <search>
        <table>
            <tr>
                <td>Brukernavn&nbsp;</td>
                <td><input type="text" id="usernameLogin" name="username" minlength="2" required></td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" id="passwordLogin" name="password" minlength="4" required></td>
            </tr>
        </table>

        <button type="submit" class="btn">Logg inn</button>
    </search>
</form>

<form id="registerForm" style="display: none;">
    <search>
        <table>
            <tr>
                <td>Brukernavn&nbsp;</td>
                <td><input type="text" id="usernameRegister" name="username" minlength="2" required></td>
            </tr>
            <tr>
                <td>E-post</td>
                <td><input type="email" id="emailRegister" name="email" required></td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" id="passwordRegister" name="password" minlength="4" required></td>
            </tr>
            <tr>
                <td>Månedsvarsel&nbsp;</td>
                <td><input type="checkbox" id="notifyRegister" name="notify" value="true"></td>
            </tr>
        </table>

        <button type="submit" class="btn">Registrer</button>
    </search>
</form>

<form id="notifyUserForm" style="display: none;">
    <search>
        <input type="hidden" id="usernameNotify" name="username" value="{{ user.username if user else '' }}">

        <table>
            <tr>
                <td>E-post</td>
                <td>{{ user.email if user else '' }}</td>
            </tr>
            <tr>
                <td>Månedsvarsel&nbsp;</td>
                <td><input type="checkbox" id="activeNotify" name="notify" {{ 'checked' if user and user.notify else '' }}></td>
            </tr>
        </table>

        <button type="submit" class="btn">Lagre</button>
    </search>
</form>

<form id="deleteUserForm" style="display: none;">
    <search>
        <input type="hidden" id="usernameDelete" name="username" value="{{ user.username if user else '' }}">

        <table>
            <tr>
                <td>Brukernavn&nbsp;</td>
                <td>{{ user.username if user else '' }}</td>
            </tr>
            <tr>
                <td>E-post</td>
                <td>{{ user.email if user else '' }}</td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" id="passwordDelete" name="password" minlength="4" required></td>
            </tr>
        </table>

        <button type="submit" class="btn">Slett bruker</button>
    </search>
</form>

<div class="message">
    <span id="userMessage"></span>
</div>

<script type="module" src="/public/scripts/profile.js"></script>
