<aside class="hidden">
    <table class="metadata">
        <tbody>
            {% if item.aperitif and item.aperitif.points is defined and item.aperitif.points != null %}
            <tr>
                <td class="label">Rating</td>
                <td>
                    Vurdert {{ item.aperitif.points }} av 100 hos {% if item.aperitif.url %}
                    <a
                        href="{{ item.aperitif.url }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        onclick="event.stopPropagation()"
                        >aperitif</a
                    >. {% else %} aperitif. {% endif %}
                </td>
            </tr>
            {% endif %} {% if taxfree and item.taxfree.stores %}
            <tr>
                <td class="label">Lager</td>
                <td>{{ item.taxfree.stores | sort | join(' + ') }}</td>
            </tr>
            {% endif %} {% for label, value in [ ('Lukt', item.smell), ('Smak', item.taste), ('Lagring', item.storage),
            ('Farge', item.colour), ('Passer til', item.pair | join(' & ') if item.pair and item.pair | length > 0 else
            none), ('Metode', item.method), ('Årgang', item.year), ] %} {% if value %}
            <tr>
                <td class="label">{{ label }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>

    {% if item.prices | length > 1 %} {% set prices_subset = item.prices[-12:] if item.prices | length >= 12 else
    item.prices %}
    <table class="metadata">
        <tbody>
            <tr>
                <th>PRISER SISTE ÅR</th>
                <th></th>
            </tr>
            {% for label, value in [ ('Laveste', (prices_subset | min | round) | int), ('Høyeste', (prices_subset | max
            | round) | int), ] %}
            <tr>
                <td class="label">{{ label }}</td>
                <td>kr {{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %} {% if item.characteristics | length > 0 or item.ingredients | length > 0 %}
    <table class="fractions">
        <tbody>
            {% for section in [ {'title': 'EGENSKAPER', 'items': item.characteristics, 'field': 'name'}, {'title':
            'INGREDIENSER', 'items': item.ingredients, 'field': 'grape'}, ] %} {% if section.items | length > 0 %}
            <tr>
                <th>{{ section.title }}</th>
                <th></th>
            </tr>
            {% for entry in section.items %}
            <tr>
                <td class="label">{{ entry[section.field] }}</td>
                <td style="--percentage: {{ entry.percentage }}"></td>
            </tr>
            {% endfor %} {% endif %} {% endfor %}
        </tbody>
    </table>
    {% endif %}
</aside>
