<form action="/" method="get" id="filter">
    <input type="hidden" name="page" value="{{ parameters.page if parameters.page is not none else '' }}">
    <input type="hidden" name="ascending" value="{{ parameters.ascending if parameters.ascending is not none else '' }}">
    <input type="hidden" name="favourites" value="{{ parameters.favourites if parameters.favourites is not none else '' }}">

    <input type="hidden" name="cprice" value="{{ parameters.cprice if parameters.cprice is not none else '' }}">
    <input type="hidden" name="cvolume" value="{{ parameters.cvolume if parameters.cvolume is not none else '' }}">
    <input type="hidden" name="calcohol" value="{{ parameters.calcohol if parameters.calcohol is not none else '' }}">
    <input type="hidden" name="cyear" value="{{ parameters.cyear if parameters.cyear is not none else '' }}">

    <search id="filters">
        <button type="submit" style="display: none"></button>

        <div>
            <button id="toggleSort">{{ 'stigende' if parameters.ascending else 'synkende' }}</button>

            <select name="sort" id="sort" onchange="applyFilters(true, false)">
                <option value="discount" {{ 'selected' if parameters.sort == 'discount' else '' }}>Tilbud</option>
                <option value="rating" {{ 'selected' if parameters.sort == 'rating' else '' }}>Rating</option>
                <option value="price" {{ 'selected' if parameters.sort == 'price' else '' }}>Pris</option>
                <option value="literprice" {{ 'selected' if parameters.sort == 'literprice' else '' }}>Literpris</option>
                <option value="alcoholprice" {{ 'selected' if parameters.sort == 'alcoholprice' else '' }}>Alkoholpris</option>
                <option value="alcohol" {{ 'selected' if parameters.sort == 'alcohol' else '' }}>Alkoholprosent</option>
            </select>
        </div>

        <div>
            <select name="category" id="category" onchange="applyFilters(true, false)">
                <option value="null" {{ 'selected' if parameters.category == 'null' else '' }}>Alle kategorier</option>
                <option value="Aromatisert" {{ 'selected' if parameters.category == 'Aromatisert' else '' }}>Aromatisert vin</option>
                <option value="Brennevin" {{ 'selected' if parameters.category == 'Brennevin' else '' }}>Brennevin</option>
                <option value="Fruktvin" {{ 'selected' if parameters.category == 'Fruktvin' else '' }}>Fruktvin</option>
                <option value="Hvitvin" {{ 'selected' if parameters.category == 'Hvitvin' else '' }}>Hvitvin</option>
                <option value="Mjød" {{ 'selected' if parameters.category == 'Mjød' else '' }}>Mjød</option>
                <option value="Musserende" {{ 'selected' if parameters.category == 'Musserende' else '' }}>Musserende vin</option>
                <option value="Perlende" {{ 'selected' if parameters.category == 'Perlende' else '' }}>Perlende vin</option>
                <option value="Rosévin" {{ 'selected' if parameters.category == 'Rosévin' else '' }}>Rosévin</option>
                <option value="Rødvin" {{ 'selected' if parameters.category == 'Rødvin' else '' }}>Rødvin</option>
                <option value="Sake" {{ 'selected' if parameters.category == 'Sake' else '' }}>Sake</option>
                <option value="Sider" {{ 'selected' if parameters.category == 'Sider' else '' }}>Sider</option>
                <option value="Sterkvin" {{ 'selected' if parameters.category == 'Sterkvin' else '' }}>Sterkvin</option>
                <option value="Øl" {{ 'selected' if parameters.category == 'Øl' else '' }}>Øl</option>
            </select>
        </div>

        {% if favourites or taxfree %}
        <input type="hidden" id="stores-search-vinmonopolet" name="storelike" value="">
        {% else %}
        <input type="search" id="stores-search-vinmonopolet" name="storelike" value="{{ parameters.storelike if parameters.storelike is not none else '' }}" placeholder="Butikk eller by ...">
        {% endif %}

        {% if taxfree %}
        <div>
            <select name="store-taxfree" id="stores-taxfree" onchange="applyFilters(true, false)">
                <!-- Options will be dynamically populated by `public/scripts/stores.js`. -->
            </select>
        </div>
        {% else %}
        <input type="hidden" name="store-taxfree" id="stores-taxfree" value="">
        {% endif %}

        <input type="search" id="nsearch" name="search" value="{{ parameters.search if parameters.search is not none else '' }}" placeholder="Navnesøk ...">
    </search>

    <menu>
        <button id="clearFilters">Nullstill</button>
        <button id="toggleAdvanced">Flere</button>
    </menu>

    <search id="advanced" style="display: none;">
        {% if favourites or taxfree %}
        <input type="hidden" name="store-vinmonopolet" id="stores-vinmonopolet" value="">
        {% else %}
        <div>
            <select name="store-vinmonopolet" id="stores-vinmonopolet" onchange="applyFilters(true, false)">
                <!-- Options will be dynamically populated by `public/scripts/stores.js`. -->
            </select>
        </div>
        {% endif %}

        <div>
            <select name="country" id="country" onchange="applyFilters(true, false)">
                <!-- Options will be dynamically populated by `public/scripts/countries.js`. -->
            </select>
        </div>

        <div>
            <button id="togglePrice">{{ 'lik' if parameters.cprice else 'under' }}</button>
            <input type="number" id="price" name="price" min="0" step="1" value="{{ parameters.price if parameters.price is not none else '' }}" placeholder="pris">
        </div>

        <div>
            <button id="toggleVolume">{{ 'lik' if parameters.cvolume else 'over' }}</button>
            <input type="number" id="volume" name="volume" min="0" step="1" value="{{ parameters.volume if parameters.volume is not none else '' }}" placeholder="volum i cL">
        </div>

        <div>
            <button id="toggleAlcohol">{{ 'lik' if parameters.calcohol else 'over' }}</button>
            <input type="number" id="alcohol" name="alcohol" min="0" step="0.5" value="{{ parameters.alcohol if parameters.alcohol is not none else '' }}" placeholder="alkoholprosent">
        </div>

        <div>
            <button id="toggleYear">{{ 'lik' if parameters.cyear else 'før' }}</button>
            <input type="number" id="year" name="year" min="1900" step="10" value="{{ parameters.year if parameters.year is not none else '' }}" placeholder="årgang">
        </div>
    </search>
</form>

<script>
  document.getElementById('filter').addEventListener('submit', (e) => {
      e.preventDefault();
      applyFilters(true, false);
  });
</script>
