{% from "partials/macros.html" import price_block %}
<section
    class="product card card--interactive"
    id="{{ index }}"
    index="{{ index }}"
    style='
        --color: {% if taxfree %}{{ "var(--negative)" if item.taxfree.discount > 0 else "var(--positive)" if item.taxfree.discount < 0 else "var(--neutral)" }}{% else %}{{ "var(--negative)" if item.discount > 0 else "var(--positive)" if item.discount < 0 else "var(--neutral)" }}{% endif %};
    '
>
    <div class="product__row">
        <a
            class="product__image img-wrap img-inset"
            href="{{ item.taxfree.url if taxfree else item.url }}"
            target="_blank"
        >
            <img
                src="/data/image/{{ item.index }}"
                onerror="
                    this.className = 'fallback';
                    this.src = '/public/images/bottle.png';
                "
            />
        </a>

        <div class="product__body">
            <h2 class="product__title">
                {% if user %}
                <button aria-label="Favoritt" data-index="{{ item.index }}" class="favourite-toggle">
                    {{ '★' if item.index in user.favourites else '☆' }}
                </button>
                {% endif %}

                <a href="{{ item.taxfree.url if taxfree else item.url }}" target="_blank">{{ item.name }}</a>
            </h2>

            <span class="meta">
                <p>{{ item.category }}</p>
                {% if item.subcategory %}
                <p class="dot">·</p>
                <p><i>{{ item.subcategory }}</i></p>
                {% endif %}
            </span>

            <span class="origin">
                <p>{{ item.country }}</p>
                {% if item.district %}
                <p class="dot">·</p>
                <i>{{ item.district }}</i>
                {% endif %} {% if item.subdistrict %}
                <p class="dot">·</p>
                <p>{{ item.subdistrict }}</p>
                {% endif %}
            </span>

            <span class="meta">
                <p>{{ (item.volume | round) | int }} cL</p>
                <p class="dot">·</p>
                <p>{{ item.alcohol }}% alk.</p>
            </span>

            {% if parameters.storelike %}
            <span class="list">
                {% for store in item.stores | storelike_filter(parameters.storelike) %}
                <p>• {{ store }}</p>
                {% endfor %}
            </span>
            {% endif %} {% if taxfree and taxfreeStore and item.taxfree.stores %}
            <span class="list">
                {% for store in item.taxfree.stores | sort %}
                <p>• {{ store }}</p>
                {% endfor %}
            </span>
            {% endif %} {% if item.aperitif and item.aperitif.points is defined and item.aperitif.points != null %}
            <span class="product__rating">
                {% if item.aperitif.url %}
                <a
                    href="{{ item.aperitif.url }}"
                    class="rating"
                    target="_blank"
                    rel="noopener noreferrer"
                    onclick="event.stopPropagation()"
                >
                    {% endif %} {% set points = item.aperitif.points / 20 %} {% for i in range(5) %}
                    <p
                        class="star"
                        style="
                            --fill: {{ 100 if i < (points | int) else ((points - (points | int)) * 100) if i == (points | int) else 0 }}%;
                        "
                    >
                        ★
                    </p>
                    {% endfor %}

                    <p>{{ item.aperitif.points }} av 100</p>

                    {% if item.aperitif.url %}
                </a>
                {% endif %}
            </span>
            {% endif %} {% if item.description %}
            <p class="description">{{ item.description }}</p>
            {% endif %}

            <span class="price"> {{ price_block(item, taxfree) }} </span>
        </div>
    </div>

    {% if item.updated == false %}
    <span class="product__disclaimer" aria-label="Ikke oppdatert for denne måneden">!</span>
    {% endif %} {% with taxfree=taxfree, item=item %} {% include "partials/detailed.html" %} {% endwith %}
</section>
