<span>© <a href="https://dilettant.no" target="_blank">Hallvard H. Lavik</a></span>
<span><button id="toggleTheme">Mørkt</button></span>
<span><a href="https://github.com/hallvardnmbu/snublejuice" target="_blank">Kildekode</a></span>

<script src="scripts/theme.js"></script>
