<footer>
    <span>© <a href="https://dilettant.no" target="_blank">Hallvard H. Lavik</a></span>
    <span><a href="https://github.com/hallvardnmbu/snublejuice" target="_blank">Kildekode</a></span>
</footer>
