<footer class="footer-simplified">
  <a href="https://dilettant.no" target="_blank">© Hallvard H. Lavik</a>
  <a href="https://github.com/hallvardnmbu/snublejuice" target="_blank">Kildekode</a>
</footer>

<% if (!landing) { %>
  <script src="scripts/buttons.js"></script>
<% } %>
