<nav aria-label="Pagination">
    <ol>
        <% if (page > 1) { %>
            <li><a href="#" onclick="changePage(<%= page - 1 %>)" aria-label="Previous Page">←</a></li>
        <% } %>

        <li><b><%= page %> av <%= totalPages %></b></li>

        <% if (page < totalPages) { %>
            <li><a href="#" onclick="changePage(<%= page + 1 %>)" aria-label="Next Page">→</a></li>
        <% } %>
    </ol>
</nav>
