<nav aria-label="Sidenavigasjon">
    <ol itemscope itemtype="https://schema.org/SiteNavigationElement">
        <li itemprop="name"><a href="https://vinmonopolet.snublejuice.no" itemprop="url">vinmonopolet</a></li>
        <li class="wide"><img src="images/snublejuice.jpg" alt="Snublejuice.no - Sammenlign alkoholpriser"></li>
        <li itemprop="name"><a href="https://taxfree.snublejuice.no" itemprop="url">tax-free</a></li>
        <li class="slim"><img src="images/snublejuice.jpg" alt="Snublejuice.no - Sammenlign alkoholpriser"></li>
    </ol>
</nav>
