<nav aria-label="Sidenavigasjon">
    <ol itemscope itemtype="https://schema.org/SiteNavigationElement">
        <li itemprop="name"><a href="https://vinmonopolet.snublejuice.no" itemprop="url">vinmonopolet</a></li>
        <li><img src="images/snublejuice.png" alt="Snublejuicen"></li>
        <li itemprop="name"><a href="https://taxfree.snublejuice.no" itemprop="url">tax-free</a></li>
    </ol>
</nav>
