@font-face {
    font-family: "JB-R";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JB-L";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JB-B";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "JB-EB";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.CoreHTML,
.BaseInputWrapper,
.BaseContainer,
.CoreTab,
.CoreTags,
.BaseContainer. .CoreText,
.CoreHeading {
    font-family: "JB-R", monospace !important;
}

.CoreSeparator {
    height: 10px;
}

.collapser {
    background-color: #f3f7f4 !important;
}

.collapser:hover {
    background-color: #136f63 !important;
}

.WdsButton {
    padding: 10px 10px !important;
    align-items:;
    justify-content:;
}

/* CoreSidebar collapsed wf-type-sidebar component */
.sidebarContainer {
    display: flex !important;
    flex-direction: column !important;
}

.CoreSidebar {
    overflow: visible !important;
    position: static !important;
    border-bottom: 1px solid black !important;
    box-sizing: border-box !important;
}

a {
    color: #666666 !important;
    font-weight: bold;
    text-decoration-thickness: 2px;
}
a:hover {
    color: black !important;
    background-color: #eeeeee;
}
