:root {
  --fontsize: 12px;
  --margin: 4px;
  --padding: 10px;
  --image: 100px;

  --gray: #cccccc;
  --foreground: #eeeeee;
  --faint: #fafafa;

  --text: black;
  --clickable: blue;

  --negative: rgba(100, 0, 0, 0.2);
  --positive: rgba(0, 100, 0, 0.2);
  --green: rgba(0, 100, 0, 0.6);
  --red: rgba(100, 0, 0, 0.6);

  --highlight: var(--positive);
  --marker: var(--green);
}

html {
  height: 100%;
}

body,
main,
header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background: white;

  /* Sutract to avoid footer overflow. */
  min-height: calc(100% - var(--padding));

  gap: var(--padding);
  margin: var(--padding);

  color: var(--text);
  font-family: monospace;
  font-size: var(--fontsize);
}
footer {
  flex-direction: row;
  gap: var(--padding);
  justify-content: space-between;
  width: 100%;

  margin-top: auto;
  /* Always have var(--padding) space below. */
  margin-bottom: var(--padding);
}

h1,
h2,
h3,
a,
a:visited,
button {
  font-weight: bold;
  font-family: inherit;
  font-size: var(--fontsize);

  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  display: inline-flex;
  flex-direction: column;
  gap: var(--margin);
}

a,
a:visited,
button {
  display: inline-flex;
  flex-direction: row;
  gap: var(--margin);

  color: var(--clickable);
  text-decoration: underline 1px;
}
a:hover,
button:hover {
  color: purple;
}
button {
  background-color: transparent;
  appearance: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

menu,
nav ol {
  display: flex;
  flex-direction: row;
  gap: 0 var(--padding);

  padding: 0;
  list-style: none;

  align-items: center;
  justify-content: center;
}
nav ol li a {
  font-size: calc(1.5 * var(--fontsize));
  text-decoration: none;
}
#menu {
  gap: 0;
}
menu {
  align-items: center;
  margin: var(--margin) 0;
}

img {
  max-width: calc(var(--image) - 4 * var(--padding));
}

form:not(header *) {
  width: calc(100% - 2 * var(--padding));
  max-width: 400px;
}
form:not(header *) search {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}
form search div {
  display: flex;
  flex-direction: row;
  gap: var(--padding);
}
form:not(header *) input,
form:not(header *) select {
  font-family: monospace;
  font-size: var(--fontsize);
  font-weight: bold;
  color: var(--text);

  background-color: transparent;
  appearance: none;
  border-radius: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
form:not(header *) search div input {
  width: 100%;
}
select {
  width: 100%;
  padding-right: calc(var(--padding) * 2);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="rgb(0, 0, 0)"/></svg>');
  background-repeat: no-repeat;
  background-position: right calc(var(--padding) / 2) bottom;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: calc(2 * var(--padding));

  width: calc(100% - 2 * var(--padding));
  max-width: calc(10 * var(--image));
}
.product {
  border: var(--margin) solid var(--highlight);
  border-bottom: none;
}
section > div {
  display: flex;
  flex-direction: row;
}
section > div > span {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  width: 100%;
}
section > div > span:not(.bottle) {
  padding: var(--padding);
}
section > div > span.bottle p {
  margin: 0 10px 10px 10px;
}
section div h1,
section > div > span > span {
  display: flex;
  flex-direction: row;
  gap: var(--margin);
}
section > div > span > span:last-of-type {
  margin-top: auto;
}
section div h1 {
  justify-content: space-between;
  align-items: center;
}
section .favourite-toggle {
  cursor: pointer;
  font-size: 1.3em;
}
section div p {
  margin: 0;
}
section .bottle,
section img {
  max-width: var(--image);
  align-items: center;
}
.rating {
  text-decoration: none;
}
.star {
  background: linear-gradient(
    90deg,
    currentColor var(--fill),
    var(--gray) var(--fill)
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

aside {
  display: none;
  border-bottom: var(--margin) solid var(--highlight);
}
aside hr {
  height: var(--margin);
  background-color: var(--highlight);
  border: none;
  margin: 0;
}
aside > div:last-of-type {
  display: flex;
  flex-direction: row;
  gap: var(--margin);
  justify-content: space-between;
  margin: var(--padding);
}
aside table {
  margin: var(--padding);
}
aside table tbody {
  margin: none;
}

.expand {
  background-color: var(--highlight);
}

.message {
}

.slim {
  display: none;
}
@media (max-width: 310px) {
  .slim {
    display: block;
  }
  .wide {
    display: none;
  }
  nav menu {
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--padding) 0;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.key-val {
  line-height: var(--padding);
  align-items: center;

  border-collapse: separate;
  border-spacing: 0 var(--padding);
}
.key-val tr {
  position: relative;
}
.key {
  color: var(--text);
  white-space: nowrap;
  vertical-align: top;
}
.val {
  position: relative;
  padding-left: 5px;
  width: 100%;

  color: var(--text);
  background-color: var(--foreground);
}
.val::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * var(--padding));
  width: var(--padding);
  height: 100%;
  background: var(--highlight);
}
.fractions {
  border-collapse: separate;
  border-spacing: 0 calc(0.5 * var(--padding));
}
.fractions tr .label {
  min-width: calc(1.5 * var(--image));
}
.fractions tr .value {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--highlight) 0 calc(var(--value) * 100% / var(--total) - var(--padding)),
    var(--marker) 0 calc(var(--value) * 100% / var(--total) - var(--padding)),
    var(--marker) 0 calc(var(--value) * 100% / var(--total)),
    var(--foreground) calc(var(--value) * 100% / var(--total)) 100%
  );
  background-size: 100% var(--padding);
  background-repeat: no-repeat;
  background-position: center;
}
.fractions tr .percentage {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--highlight) calc(var(--percentage) * 1% - var(--padding)),
    var(--marker) calc(var(--percentage) * 1% - var(--padding)),
    var(--marker) calc(var(--percentage) * 1%),
    var(--foreground) calc(var(--percentage) * 1%)
  );
  background-size: 100% var(--padding);
  background-repeat: no-repeat;
  background-position: center;
}
