:root {
  --fontsize: 12px;
  --margin: 4px;
  --padding: 10px;
  --image: 100px;

  --block: #cccccc;
  --dimmed: #eeeeee;
  --faint: #fafafa;

  --text: #000000;

  --negative: rgba(100, 0, 0, 0.2);
  --positive: rgba(0, 100, 0, 0.2);
  --green: rgba(0, 100, 0, 0.6);
  --red: rgba(100, 0, 0, 0.6);

  --highlight: var(--positive);
  --marker: var(--green);
}

html {
  height: 100%;
}

body,
header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background: white;

  /* Sutract to avoid footer overflow. */
  min-height: calc(100% - var(--padding));

  gap: var(--padding);
  margin: var(--padding);

  color: var(--text);
  font-family: monospace;
  font-size: var(--fontsize);
}
footer {
  flex-direction: row;
  gap: var(--padding);
  justify-content: space-between;
  width: 100%;

  margin-top: auto;
  /* Always have var(--padding) space below. */
  margin-bottom: var(--padding);
}

h1,
a,
a:visited,
button {
  font-weight: bold;
  font-family: inherit;
  font-size: var(--fontsize);

  margin: 0;
  padding: 0;
}
h1 {
  display: inline-flex;
  flex-direction: column;
  gap: var(--margin);
}

a,
a:visited,
button {
  color: blue;
  text-decoration: underline 1px;
}
a:hover,
button:hover {
  color: purple;
}
h1 a:first-of-type {
  color: var(--text);
  text-decoration: none;
}
button {
  background-color: transparent;
  appearance: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

menu,
search {
  display: inline-flex;
  flex-direction: row;
  gap: 0 var(--padding);
  list-style: none;

  align-self: center;
  align-items: center;
  align-content: center;
}
#menu {
  gap: 0;
}
menu,
search,
nav {
  padding: 0;
  margin: var(--margin);
}

img {
  max-width: calc(var(--image) - 4 * var(--padding));
}

section {
  padding-top: calc(2 * var(--padding));
  max-width: calc(10 * var(--image));
}

.slim {
  display: none;
}
@media (max-width: 310px) {
  .slim {
    display: block;
  }
  .wide {
    display: none;
  }
  nav menu {
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--padding) 0;
  }
}
