{% extends "base.html" %} {% block head %} {% include "partials/head.html" %}
<script src="/public/scripts/stores.js"></script>
<script src="/public/scripts/countries.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>

<meta property="og:title" content="Snublejuice.no" />
<meta property="og:description" content="Vinmonopolets prisendring, prishistorikk og sammenlikning med tax-free." />
<meta name="description" content="Vinmonopolets prisendring, prishistorikk og sammenlikning med tax-free." />
{% endblock %} {% block header %} {% with favourites=parameters.favourites, landing=false, landing_url=landing_url %} {%
include "partials/account.html" %} {% endwith %} {% endblock %} {% block main %} {% with parameters=parameters,
taxfree=is_taxfree %}{% include "partials/forms.html" %}{% endwith %} {% with placement="top" %}{% include
"partials/pagination.html" %}{% endwith %} {% if not prices_updated %}
<div class="prices-updating-banner">
    <span>Prisene oppdateres. Produkter som gjenstår er markert, og viser forrige måneds tall.</span>
</div>
{% endif %} {% if data|length == 0 %}
<span>Ingen resultater finnes for valgt kominasjon.</span>
{% else %} {% if message %}
<div class="message">
    <span>{{ message }}</span>
</div>
{% endif %} {% for item in data %} {% with parameters=parameters, item=item, index=loop.index0, taxfree=is_taxfree %} {%
include "partials/product.html" %} {% endwith %} {% endfor %} {% endif %} {% with placement="bottom" %}{% include
"partials/pagination.html" %}{% endwith %} {% endblock %} {% block footer %} {% with landing=false %}{% include
"partials/footer.html" %}{% endwith %} {% endblock %} {% block scripts %}
<script src="/public/scripts/buttons.js"></script>
{% endblock %}
