{% extends "base.html" %} {% block head %} {% include "partials/head.html" %}
<script src="/public/scripts/dropdowns.js"></script>

<meta property="og:title" content="Snublejuice.no" />
<meta property="og:description" content="Vinmonopolets prisendring, prishistorikk og sammenlikning med tax-free." />
<meta name="description" content="Vinmonopolets prisendring, prishistorikk og sammenlikning med tax-free." />
{% endblock %} {% block header %} {% with favourites=parameters.favourites, landing=false, landing_url=landing_url %} {%
include "partials/account.html" %} {% endwith %} {% endblock %} {% block main %} {% with parameters=parameters,
taxfree=is_taxfree, favourites=parameters.favourites %}{% include "partials/forms.html" %}{% endwith %}
<div id="product-results" aria-live="polite"></div>
{% endblock %} {% block footer %} {% with landing=false %}{% include "partials/footer.html" %}{% endwith %} {% endblock
%} {% block scripts %}
<script src="/public/scripts/products.js"></script>
<script src="/public/scripts/filters.js"></script>
{% endblock %}
